{% extends 'blog/base.html' %}

{% block title %} Whoops! Couldn't find that page {% endblock %}

{% block Page-Header %}
    <h1>Whoops! You shouldn't be here.</h1>
{% endblock Page-Header %}

{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'bloglist' %}">Blog</a>
</li><li class="nav-item">
    <a class="nav-link" href="{% url 'journal_list' %}">Journal</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resume</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'tsa_claim' %}">TSA App</a>
</li>

{% endblock navhighlights %}

{% block content %}
<div class="container text-center">
    <br>
    <p>Something isn't working. Sorry about that! Use the nav bar up top to get back on track.</p>
</div>
{% endblock content %}