attrs==17.4.0
colorama==0.3.9
dj-database-url==0.5.0
Django>=2.2.11
django-heroku==0.3.1
django-letsencrypt==3.0.1
django-markdownx==2.0.23
gunicorn==19.7.1
Markdown==2.6.11
more-itertools==4.1.0
Pillow>=6.2.2
pluggy==0.6.0
psycopg2-binary==2.8.3
py==1.5.3
pytest==3.5.0
pytest-django==3.2.1
pytz==2018.4
six==1.11.0
whitenoise==3.3.1
newrelic
numpy==1.15.4
pandas==0.23.4
joblib==0.13.0
scikit-learn==0.20.0
catboost==0.11.2
