html {
    /*position: relative;*/
}
body {
    background-color: #27b7e7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 1 auto;
}

.navbar-dark {

}

.icon-colors {
    font-size: 2em;
    color: #27b7e7;
    text-align: center;
}

.copyright-text {
    color: black;
    flex-wrap: wrap;
}

.footer-con {
    justify-content: center;
    flex: none;
}

.copyright {
    flex-wrap: wrap;
}

.footer-icons {
    justify-content: center;
}

.btn-toolbar {
    flex-wrap: nowrap;
    display: inline-flex;
}
img.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto
}

.navbar-collapse {
    display: inline-flex;
}

a {
    color: #e76327;
    font-weight: bold;
}

a:active {
    color: yellow;
}

a:hover {
    color: #27b7e7;
}

.nav-link {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    background-color: #27b7e7;
}

.list-box {
    width: auto;
}

.navbar {
    display: inline-flex;
}

.about-photo {
    justify-content: center;
    align-content: center;
}
.container {
    background-color: white;
}

.foot-nav {
    background-color: #343a40;
}

.journ-list {
    margin-bottom: 0;
}

.btn-outline-secondary {
    color: #e76327;
    background-color: white;
    border-color: #e76327;
}

.btn-outline-secondary:hover    {
    background-color: #e76327;
}
.resume-section{
    color: gray;
}

*, ::before, ::after {
    box-sizing: content-box;
}

.card {
    border-color: #e76327;
}

.card-header {
    text-align: center;
}

/*.card-body {*/
    /**justify-content: center;*!*/
/*}*/

.trow {
    text-align: center;
    justify-content: center;
}

.resume-table {
    table-layout: fixed;
}

.resume-td {
    width: 33%;
    text-align: center;
    align-items: center;
}

.margin-for-ul {
    margin-bottom: 0;
}

.lil-extra-padding-bullet {
    padding-right: 1rem;
}

.far {
    color: #e76327;
}
