body {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.icon-colors {
    font-size: 2em;
    color: #007bff;
    text-align: center;
}

.footer a {
    color: black;
}

.footer {
    margin:  auto auto 0 auto;
}

.footer-icons {
    justify-content: center;
}

.navbar-collapse {
    display: inline-flex;
}

a {
    color: firebrick;
}

a:active {
    color: yellow;
}

a:hover {
    color: #007bff;
}

.nav-link {
    color: white;
}

/*.list-group-item {*/
    /*&:active,*/
    /*&:active {*/
        /*color: #007bff !important;*/
        /*background-color: #007bff !important;*/
    /*}*/
/*}*/

.list-box {
    width: auto;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

