/*.nav{*/
    /*white-space: nowrap;*/
/*}*/


body {
    background-color: lightslategray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    font-size: !important;
    font-style: italic;
}