<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

{% extends 'blog/base.html' %}

<body>

    {% block content %}
        <h3>About</h3>
            <p>My name is Spencer Tollefson. I’m currently a Peace Corps Volunteer
                working in a small town in Costa Rica doing Community Economic
                Development work. I’m digging in head first into data
                scienceprogramming, and more and hope to chronicle part of this journal
                here with this blog. I have no formal training in programming of any
                sort, but as of the end of 2017 I began self-teaching myself Python,
                listening to related podcasts, and beginning and doing different online
                tutorials and programs to self-learn.
                <br>
                My goals with this blog are to jot down what I’ve been up to, what I’ve
                been learning, and use it as a diary in a sense. If you find yourelf
                here, great! Welcome! Feel free to reach out with advice, comments,
                questions, anything!
            </p>
            <br>
        <h3>More Information</h3>
            <br>
            <p>I’ve had this relationship with data sets for a long time, where I have
                highly respected the secrets and actionable advice they can hold, but
                have not equipped myself with the tools to analyze them. I hope to change
                that, now. With the surge of interest in programming (notably Python)
                and data science as a field, I’m in a time where the lack of tools to
                learn with is no longer an excuse.
                <br>
                Anyway, about me. I like staying fit and body weight exercises as well
                as getting walking cardio, I’m a a Seahawks, Mariners, and… NBA fan
                (RIP Sonics), I love the Crash Course YouTube channel, I read
                non-fiction and Wikipedia for pleasure, I find it difficult to focus on
                comedy TV shows – I could be learning something instead! – Since mid
                2017 I have factored in meditation into my nearly-daily routine, I eat
                a lot of plants, and finally I like beer.
            </p>
    {% endblock %}

</body>
</html>