{% extends 'blog/base.html' %}
{% load static %}


{% block title %}Spencer Tollefson - About{% endblock %}

{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
</li><li class="nav-item">
    <a class="nav-link" href="{% url 'journal_list' %}">Journal</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resume</a>
</li>
{% endblock navhighlights %}

{% block Page-Header %}
    <h1>About</h1>
{% endblock Page-Header %}

{% block before-content %}
    <div class="row">
        <div class="col-11 col-sm-9 col-md-8 col-lg-7 mx-auto about-photo">
            <img src="{% static 'blog/images/spencer-mountain.jpg' %}" alt="A photo of me" title="That's me!" class="img-fluid img-thumbnail rounded-circle"/>
        </div>
    </div>
    <br>
{% endblock before-content %}


{% block content %}
    <h5>Me</h5>
    <p>
    Hi - I'm a human being aspiring to land a data scientist job. Right now I work/volunteer
    for the Peace Corps and the awesome gig has had me living in rural Costa Rica
    since February 2017. Pura vida! Like many other Seattle-ites I'm big into
    craft beer, don't mind the rain too much, and oh yeah - I'm into tech.
    Python is my language and manipulating data is my game. But hang on, I'll be
    honest - I only began learning to code in October 2017 (I'm good at Excel
    though, that counts for something right?!) To help me learn any and
    everything pertaining to data science and Python here in Costa Rica,
    I've been chowing down on blogs, podcasts, tutorials, videos, and
    more at a pace only sustainable in my current Costa Rican lifestyle.
    <br><br>
    Non-tech stuff? Dabble in body weight and love long walks (not kidding!)
    NBA fan (RIP Sonics). Subscribe to the
    <a href="https://www.youtube.com/user/crashcourse">Crash Course</a> YouTube channel.
    Read non-fiction and Wikipedia for pleasure. Eat mostly "unprocessed" plants.
    Finally, I organize my life by making lists on Google Keep lists of nearly
    everything.
    </p>

    <h5>You</h5>
    <p>
    The more the merrier! I intend to write nearly entirely about Python and data
    science related topics here, so if that is your kind of thing that's great!
    If not, well I have a bunch of other interests as well - I just won't be
    writing about them much here. Fellow coders, potential employers, friends,
    family - all are welcome!
    </p>

    <h5>The Site</h5>
    <p>
    So what is this website and why did I make it? Not going to beat around the
    bush here - my primary reason for building this site is for myself. I'm
    using it as a way to keep motivated, track what I've learned, keep a tech journal,
    and expand on topics that capture my attention via blog posts. Of course
    that's not the only reason though. The site in itself is a project - my first
    web dev project (and perhaps my last?) - and I've learned a ton every step
    of creating this baby. Additionally, I want to connect with like-minded
    people and maintain a portfolio for <i>potential</i> opportunities.
    <br><br>
    I built this site in Python using the <a href="https://djangoproject.com">Django</a>
    framework for architecture and the <a href="https://getbootstrap.com">Bootstrap</a>
    Content Delivery Network for support in the layout. It's deployed via <a href="https://heroku.com">Heroku</a>.
    This was quite the challenge, and I doubt I'll ever make money being a web dev,
    but hey, besides what I learned I have something to show for it as well!
    </p>

    <h5>Get in Touch</h5>
    <p>
    You may notice, I don't have any commenting on the site. Twitter and
    Email are the mediums to contact me. PLEASE DO! Whether pertaining to something
    specific I wrote or anything else - I'd love to hear from you.
    </p>
    <ul>
    <li><a href="mailto:spencer@spencertollefson.com" target="_blank">spencer@spencertollefson.com</a></li>
    <li><a href="https://twitter.com/TheSpencerT" target="_blank">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/stollefson1" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/spencertollefson" target="_blank">Github</a></li>
    </ul>
{% endblock %}