{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- imports a font from elsewhere on the web -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Javascript and jquery plugins -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!--Leads to blog.css file for CSS styling -->
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

        <title>{% block title %}Spencer{% endblock title %}</title>
    </head>


    <body>

        {% block navbar %}
            <div class="container-fluid" name="navHeader">
                <div class="row align-items-center py-5" style="background-color: lightgray">
                    <div class="col-sm-1 offset-sm-4">
                        <a href="{% url 'post_list' %}">
                            <img src="{% static "blog/images/spencer-ham.jpg" %}"  class="rounded-circle" alt="Picture Not Loading!!!" title="That's Me!"></a>
                    </div>
                    <div class="col-sm-3">
                        <div class="row align-items-center">
                            <div class="col" id="MyName">
                                <a href="{% url 'post_list' %}"><h1>Spencer Tollefson</h1></a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            {% block navhighlights %}
                                <div class="col"><a href="{% url 'post_list' %}" id="current-section">Blog</a></div>
                                <div class="col"><a href="{% url 'about' %}" id="other-section">About</a></div>
                                <div class="col"><a href="{% url 'resume' %}" id="other-section">Resume</a></div>
                            {% endblock navhighlights %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock navbar %}

        {% block content %}
        {% endblock content %}


        </div>

        {% block footer %}
            <section class="footer">
                <div class="container">

                </div>
            </section>
        {% endblock footer %}


    </body>
</html>