{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Spencer's Blog</title>
        <!Imports css files found elsewhere on internet (bootstrap)>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!imports a font from elsewhere on the web>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <! Leads to blog.css file for CSS styling>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <a href="{% url 'resume' %}" class="top-menu">Resume</a>
        <a href="{% url 'about' %}" class="top-menu">About</a>


    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Spencer's Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>