{% extends 'blog/base.html' %}

{% block title %}Spencer Tollefson - Blog #{{ post.blog_pub_number }}: {{ post.title }}{% endblock %}

{#Twitter JS#}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

{% block metatags %}
    <meta name="description" content="{{ post.formatted_markdown|safe|truncate:20 }}">
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ post.get_absolute_url }}" />
    <meta property="og:description" content="{{ post.formatted_markdown|safe|truncate:20 }}">
{#    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" /> {% static 'blog/images/ %}{{ post.formatted_mark }}#}
{% endblock metatags %}


{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'bloglist' %}">Blog</a>
</li><li class="nav-item">
    <a class="nav-link" href="{% url 'journal_list' %}">Journal</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resume</a>
</li>
{% endblock navhighlights %}

{% block header-setup %}
    <div class="row">
        <div class="col text-center pt-2">
            {% block Page-Header %}
                <h2>{{ post.title }}</h2>
                <div class="w-100"></div>
                <h5>{{ post.published_date|date:'F j' }}, {{ post.published_date|date:'Y' }}</h5>
                <hr>
            {% endblock Page-Header %}
        </div>
    </div>
    <div class="row">
        <div class="col-11 pb-0 text-left mx-auto">
            <p>{{ post.formatted_markdown|safe }}</p>
            <hr>
            <h4>~ spencer tollefson ~</h4>
            <small class="mx-auto">
                Comment via
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="" data-text="@TheSpencerT" data-related="TheSpencerT" data-show-count="false">   Tweet   </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </small>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-sm-between justify-content-center pb-1">
        <div class="col-sm-5.5 pr-2 pl-sm-3">
            {% if post.get_prev_blog %}
            <a href="{% url 'blogdetail' slug=post.get_prev_blog.slug %}">
                <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="{{ post.get_back_journ.title }}">
                    ↢ Prev Blog Entry
                </button>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-5.5 pl-2 pr-sm-3">
            {% if post.get_next_blog %}
            <a href="{% url 'blogdetail' slug=post.get_next_blog.slug %}">
                <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="{{ post.get_next_journ.title }}">
                   Next Blog Entry ↣
                </button>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock header-setup %}

