<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>

{% extends 'blog/base.html' %}

<body>

    {% block content %}
        <h3>Contact</h3>
        <ul>
            <li><a href="mailto:spencer@spencertollefson.com">spencer@spencertollefson.com</a></li>
            <li><a href="https://twitter.com/TheSpencerT">Twitter</a></li>
            <li><a href="https://facebook.com/spencertollefson">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/stollefson1">LinkedIn</a></li>
        </ul>
    {% endblock %}

</body>
</html>



