{% extends 'blog/base.html' %}

{% block title %}Spencer Tollefson{% endblock %}

{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
</li><li class="nav-item">
    <a class="nav-link active" href="{% url 'journal_list' %}">Journal</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resume</a>
</li>
{% endblock navhighlights %}

{% block header-setup %}
<div class="container content" id="main">
    <div class="row justify-content-center text-center">
        <div class="col py-2">
            <h1>Journal</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-11 col-md-8">
            <p>
                This is a collection of short diary-style entries that likely
                are shorter in length and wander in subject more than
                Blog posts. In a sense, it's my journal of learning tech.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-11 col-md-8 pb-1 d-flex justify-content-center mx-auto list-box">
            <div class="list-group">
                {% for post in posts %}
                    <a href="{% url 'post_detail' pk=post.pk %}" class="list-group-item list-group-item-action">
                        <h3>#{{ post.pub_number }}: {{ post.title }} - {{ post.published_date|date:'F j' }}, {{ post.published_date|date:'Y' }}</h3>
                        <br>
                        <p>{{ post.formatted_markdown|safe|truncatewords:150 }}...</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

