{% extends 'blog/base.html' %}

{% load static %}

{% block metatags %}
    <meta name="description" content="Collection of diary-style
entries that are short in length and wander in subject.
In a sense, it's my journal of learning tech.">
    <meta name="author" content="Spencer Tollefson">
    <meta property="og:description" content="Collection of diary-style
entries that are short in length and wander in subject.
In a sense, it's my journal of learning tech.">
    <meta property="og:title" content="Journal" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.spencertollefson.com/journal/" />
{% endblock metatags %}

<title>{% block title %}Spencer Tollefson - Journal{% endblock title %}</title>

{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <div class="mx-auto d-flex d-block flex-wrap justify-content-center" role="navigation">
            <a class="navbar-brand" href="{% url 'about' %}">Spencer Tollefson</a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center justify-content-center" id="navbarNav">
                <ul class="nav nav-pills">
                    {% block navhighlights %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bloglist' %}">Blog</a>
                    </li><li class="nav-item">
                        <a class="nav-link active" href="{% url 'journal_list' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resume' %}">Resume</a>
                    </li>
                    {% endblock navhighlights %}
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
{% endblock navbar %}



{% block header-setup %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

    <div class="row justify-content-center text-center">
        <div class="col-11 py-2">
            <h1>Journal</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-11 text-justify">
            <p>
                Collection of diary-style entries that are short in length
                and wander in subject In a sense, it's my journal of
                learning tech.
            </p>
        </div>
    </div>
    <div class="infinite-container">
        <div class="row">
            {% for post in posts %}
{#                <div class="infinite-item"#}
                    <div class="infinite-item col pt-2">
                        {% block Page-Header %}
                            <a href="{% url 'journal_detail' slug=post.slug %}" class="">
                            <h1 class="text-center" style="color: #e76327">{{ post.title }}</h1>
                            </a>
                            <div class="w-100"></div>
                            <h5 class="text-center" style="color: #e76327">{{ post.published_date|date:'F j' }}, {{ post.published_date|date:'Y' }}</h5>
                            <hr>
                        {% endblock Page-Header %}
                    </div>
                    <div class="infinite-item col-11 pb-0 text-left mx-auto">
                        <p>{{ post.formatted_markdown|safe }}</p>
                        <hr>
                    </div>
{#                </div>#}
            {% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>

    {% if posts.has_next %}
        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
    {% endif %}


    <div class="loading" style="display: none;">
     Loading...
    </div>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}

{% block footer %}

<nav class="navbar fixed-bottom navbar-dark bg-dark pt-0 pb-0 foot-nav justify-contents-center">
    <footer class="container d-flex footer-con foot-nav" id="footer">
        <div class="col d-flex mx-auto text-center justify-content-center copyright">
            <a class="navbar-brand footer copyright-text" href="{% url 'about' %}"><small>Copyright © 2018 Spencer Tollefson</small></a>
        </div>
        <div class="col d-flex footer-icons mx-auto">
            <div class="btn-toolbar" role="group" aria-label="Basic example">
                <a href="mailto:spencer@spencertollefson.com" target="_blank"><i class="icon-colors fas fa-envelope-square btn"></i></a>
                <a href="https://twitter.com/TheSpencerT" target="_blank"><i class="icon-colors fab fa-twitter-square btn"></i></a>
                <a href="https://www.linkedin.com/in/stollefson1" target="_blank"><i class="icon-colors fab fa-linkedin btn"></i></a>
                <a href="https://github.com/spencertollefson" target="_blank"><i class="icon-colors fab fa-github-square btn"></i></a>
            </div>
        </div>
    </footer>
</nav>

{% endblock footer %}

