{% extends 'blog/base.html' %}

{% block title %}Spencer Tollefson{% endblock %}


{% block header-setup %}
    <div class="row justify-content-center text-center">
        <div class="col-11 py-2">
            <h1>Blog Posts</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-11">
            <p>
                These are blog posts. Read away! I'm using Twitter in lieu of comments. Feel
                free to start a conversation there or contact me another way!
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover ">
            <tbody>
                {% for post in posts %}
                     {% if post.type == 'blog' %}
                         <tr>
                             <td>
                                 <h6 class="journ-list">{{ post.published_date|date:'F j' }}, {{ post.published_date|date:'Y' }}</h6>
                             </td>
                             <td>
                                 <a href="{% url 'post_detail' slug=post.slug %}" class="">
                                 <h6 class="journ-list">{{ post.title }}</h6>
                                 </a>
                             </td>
                         </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}










{#BELOW - this is for a more complete way to list blogs than I did in journal#}


{#<a href="{% url 'post_detail' pk=post.pk %}" class="journ-list">#}
{#    <h5>#{{ post.pub_number }}: {{ post.title }} - {{ post.published_date|date:'F j' }}, {{ post.published_date|date:'Y' }}</h5>#}
{#    <p>{{ post.formatted_markdown|safe|truncatewords:30 }}...</p>#}
{#    <hr>#}
{#</a>#}