<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>

{% extends 'blog/base.html' %}
    {% block navhighlights %}
        <li class="col"><a href="{% url 'post_list' %}" class="top-menu">Blog</a></li>
        <li class="col"><a href="{% url 'about' %}" class="top-menu">About</a></li>
        <li class="active col"><a href="{% url 'resume' %}" class="top-menu active">Resume</a></li>
    {% endblock navhighlights %}

    {% block content %}
        <h3>Resume</h3>
        <br>
        <p>This page is under construction. Come back later to see how qualified I am in everything!</p>

        {% lorem 3 p %}
    {% endblock %}

</html>



