{% extends 'blog/base.html' %}

{% block title %}Resume{% endblock %}

{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'resume' %}">Resume</a>
</li>
{% endblock navhighlights %}

{% block content %}
     <div class="container" id="main">
        <div class="row">
            <div class="col d-flex justify-content-center py-5">
                <h4>Resume</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-11 pb-1 text-left mx-auto" style="background-color: lightblue;">
                <p>This page is under construction. Come back later to see how qualified I am in everything!</p>
                {% lorem 3 p %}
            </div>
        </div>
     </div>
{% endblock %}