{% extends 'blog/base.html' %}

{% block title %}Spencer Tollefson - Resume{% endblock %}

{% block navhighlights %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
</li><li class="nav-item">
    <a class="nav-link" href="{% url 'journal_list' %}">Journal</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'resume' %}">Resume</a>
</li>
{% endblock navhighlights %}

{% block Page-Header %}
    <h1>Resume</h1>
{% endblock Page-Header %}


{% block content %}
    <p>This page is under construction. Come back later to see how qualified I am in everything!</p>
    {% lorem 3 p %}
{% endblock %}
s