body {
    background-color: #3796bfff;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
  }

title {
font-size: 32px;
}

.cat {
  font-size: 16pt;
}
.dd {
  color: #3796bfff;
  background-color: white;
  font-size: 14pt;
}

select {
  background-color:white;
  color:#3796bfff;
  font-size: 16pt;

}


.tabsettings {
  line-height: 2;
}

.compensation {
  font-size: 22pt;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  /* width: 20em;  height: 2em; */
  background-color: orange;
  color: white;
}
